body {
    background-color: #111111;
    color: aliceblue;
    text-align: center;
    font-family: 'Arial Black', Gadget, sans-serif;
}

h1 {
    font-size: 70px;
    color: #00ff87;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
}

h2 {
    color: #ffd700;
    font-size: 32px;
    margin-top: 40px;
}

iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 10px;
    border-radius: 12px;
}