body {
    background-color: #111111; /* Um preto mais suave, estilo noite de jogo */
    color: aliceblue;
}

h2 {
    color: #ffd700; /* Dourado de troféu! */
    font-size: 35px; /* Deixa o título da Copa bem destacado */
}
h1 {
font-size: 100px;
color:rgb(250, 3, 147);
text-transform: uppercase;

}