body {
    background-color: #111111;
    color: aliceblue;
}

h1 {
    font-size: 100px;
    color: rgb(250, 3, 147);
    text-transform: uppercase;
}

h2 {
    color: #ffd700;
    font-size: 35px;
}